$Palette: (
	primary: #ffc9d2,
	primary-lighter: #faced6,
	primary-darker: #ff8e86,

	secondary: #d6f2ef,
	secondary-lighter: #d3f5f2,
	secondary-darker: #91dcd4
);

@function color ($name) {
	@return map-get($Palette, $name);
}